<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Dangki.css">
    <link rel="stylesheet" href="../admin/bootstrap-5.3.0-alpha3-examples/assets/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <a href=""><img src="../img/close.png" alt="" id="close-btn" class="close-btn"></a>
        <form>
          <h1 class="h3 mb-3 fw-normal">Đăng kí </h1>
          <button class="gmail-btn">
            <a href="../DangkiPhone/Dkphone.html">
                <img src="../img/gmail.png" alt="">
                 Sử dụng Email/Số điện thoại
            </a>
            
          </button>
         
          <button class="gg-btn">
            <img src="../img/google.png" alt="">
            Đăng ký với Google 
          </button>
          <button class="fb-btn">
            <img src="../img/facebook.png" alt="">
            Đăng ký với Facebook 
          </button>
          <button class="gh-btn">
            <img src="../img/github.png" alt="">
            Đăng ký với GitHub
          </button>
          <p class="sign-up-link">
            Bạn đã có tài khoản? <a href="../Dangnhap/Dangnhap.html">Đăng nhập </a>
          </p>
        </form>
      </main>
</body>
</html>