.h3 {
    text-align: center;
    font-size: 22px;

}

.login_container {
    align-items: center;
    padding-top: 4%;
    padding-bottom: 40px;
    background-size: cover;
    z-index: -1;
    padding-bottom: 30%;
}

.login_container_heading {
    margin-left: 10%;
    font-size: 30px;
    font-weight: 700;
}

h1.login_heading {
    font-size: 20px;
    color: #535353;
    font-weight: 700;
}

.form-signin {
    max-width: 600px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    position: relative;
    padding: 30px
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
}

.gg-btn,
.fb-btn,
.gh-btn,
.gmail-btn {
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: thin solid #444;
}

.gg-btn img,
.fb-btn img,
.gh-btn img,
.gmail-btn img {
    padding: 0 5px;
}

.gmail-btn a {
    text-decoration: none;
    color: #111;
}

.sign-up-link {
    text-align: center;
    font-size: 14px;
    margin: 0;
}


.input_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.input_container input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    width: 90%;
    border-radius: 3px;

}

.option_login {
    display: flex;
    align-items: center;
    justify-content: center;

}

.option_login button {
    width: 42%;
    border: none;
    border-radius: 3px;
}

.gg-btn {
    margin-right: 15px;
    background-color: #fff;

}

.fb-btn {
    margin-left: 15px;
    color: #fff;
    background-color: #1877f2;
}


.sign-btn {
    width: 90%;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    border: none;
    background: rgb(19, 89, 227);
    background: linear-gradient(90deg, rgba(19, 89, 227, 1) 0%, rgba(50, 152, 213, 1) 43%);
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.is-invalid {
    border: red;
}

input.input_login_container {
    border: 1px solid #a7a7a7;
    border-radius: 8px;
}

.forget_password_container {
    text-decoration: none;
    color: #1877f2
}