<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chu</title>
  <link rel="stylesheet" href="./header.css">
  <link rel="stylesheet" href="./banner.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <link rel="stylesheet" href="./style.css">
  <!-- --css footer-- -->
  <link rel="stylesheet" href="./footer.css">
  <link rel="stylesheet" href="../css/khuyenmai.css">
  <!-- ---css icon -->
  <link rel="stylesheet" href="../icon/fontawesome-free-6.3.0-web/css/all.css">
  <!-- ---email-css-- -->
  <link rel="stylesheet" href="../css/email.css">
</head>

<body>
 

  <div class="main-body">

    <!-- --banner-- -->
    <section class="main-banner swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img class="img" src="../img/banner/ban1.jpeg" alt="">
        </div>

        <div class="slide swiper-slide">
          <img class="img" src="../img/banner/b2.jpeg" alt="">
        </div>
      </div>


      <div class="swiper-button-next "></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </section>


    <!-- --khuyemai-- -->
    <div class="khuyenmai-contain">
      <div class="khuyemai">
        <img class="km" src="../img/khuyenmai/km1.jpeg" alt="">
        <img class="km" src="../img/khuyenmai/km1.jpeg" alt="">
        <img class="km" src="../img/khuyenmai/km1.jpeg" alt="">
      </div>
    </div>
    <!-- ---body -->

    <h2 class="Cate">IPhone</h2>

    <div class="row">
      <a href="./IPhone/chitiet.html">
      <div class="column">
        <div class="card">
          <div class="status">Tạm hết hàng</div>
          <img class="imgPhone" src="../img/iphone/ip1.jpeg">
          <p class="NamePhone">IPhone 13 Pro Max</p>
          <div class="price-contain">
          <p class="price"> 29.000.000d </p>
          <p class="price-old">34.000.000</p>
        </div>
        </div>
      </div>
    </a>

    <a href="">
      <div class="column">
        <div class="card">
          <div class="status">Tạm hết hàng</div>
          <img class="imgPhone" src="../img/iphone/ip1.jpeg">
          <p class="NamePhone">IPhone 13 Pro Max</p>
          <div class="price-contain">
          <p class="price"> 29.000.000d </p>
          <p class="price-old">34.000.000</p>
        </div>
        </div>
      </div>
    </a>


        <a href="">
      <div class="column">
        <div class="card">
          <div class="status">Tạm hết hàng</div>

          <img class="imgPhone" src="/frontend_final/src/components/DoAn/img/iphone/ip1.jpeg">
          <p class="NamePhone">IPhone 13 Pro Max</p>
          <div class="price-contain">
          <p class="price"> 29.000.000d </p>
          <p class="price-old">34.000.000</p>
        </div>
        </div>
      </div>
    </a>

    <a href="">
      <div class="column">
        <div class="card">
          <div class="status">Tạm hết hàng</div>

          <img class="imgPhone" src="../img/iphone/ip1.jpeg">
          <p class="NamePhone">IPhone 13 Pro Max</p>
          <div class="price-contain">
          <p class="price"> 29.000.000d </p>
          <p class="price-old">34.000.000</p>
        </div>
        </div>
      </div>
    </a>

    </div>


    <p class="btn-all">
      <a href="/Home/IPhone/IPhone.html"><button>Xem tất cả IPhone</button></a>
    </p>


    <h2 class="Cate">IPad</h2>

    <div class="row">
      <a href="">
        <div class="column">
          <div class="card">
            <div class="status">Tạm hết hàng</div>

            <img class="imgPhone" src="../img/iphone/ip1.jpeg">
            <p class="NamePhone">IPhone 13 Pro Max</p>
            <div class="price-contain">
            <p class="price"> 29.000.000d </p>
            <p class="price-old">34.000.000</p>
          </div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="column">
          <div class="card">
            <div class="status">Tạm hết hàng</div>

            <img class="imgPhone" src="../img/iphone/ip1.jpeg">
            <p class="NamePhone">IPhone 13 Pro Max</p>
            <div class="price-contain">
            <p class="price"> 29.000.000d </p>
            <p class="price-old">34.000.000</p>
          </div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="column">
          <div class="card">
            <div class="status">Tạm hết hàng</div>

            <img class="imgPhone" src="../img/iphone/ip1.jpeg">
            <p class="NamePhone">IPhone 13 Pro Max</p>
            <div class="price-contain">
            <p class="price"> 29.000.000d </p>
            <p class="price-old">34.000.000</p>
          </div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="column">
          <div class="card">
            <div class="status">Tạm hết hàng</div>

            <img class="imgPhone" src="../img/iphone/ip1.jpeg">
            <p class="NamePhone">IPhone 13 Pro Max</p>
            <div class="price-contain">
            <p class="price"> 29.000.000d </p>
            <p class="price-old">34.000.000</p>
          </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <p class="btn-all">
    <button>Xem tất cả IPad</button>
  </p>
  </div>

  <!-- ----gioithieu---- -->
  <div class="gioithieu">
    <a href=""> <img src="../img/banner/ban1.jpeg" alt="">
  </div></a>


  <!-- ---Email-- -->
  <div class="email">
    <h2>Đăng ký nhận thông tin từ ShopX</h2>
    <p>Thông tin sản phẩm mới nhất và chương trình khuyến mãi</p>
    <div class="sub">
      <input type="text" name="" placeholder="Nhập email của bạn... " id="email">
      <button>Subscribe</button>
    </div>
  </div>

  <!-- ---footer-- -->
  <div class="footer">
    <i class="cart-shopping-solid.svg"></i>
    saddd
  </div>





  <!-- --script -->

  <script src="./script.js"></script>
  <script src="https://kit.fontawesome.com/fcab3c1849.js" crossorigin="anonymous"></script>
  <!-- Swiper JS -->
  <script src="../js/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>

</html>