.nd-1 {
    height: 15%;
    background-color: #ffffff;
}

.nd-2 {
    height: 20%;
    margin-bottom: 50px;
}

.nd-2 div {
    font-weight: bold;
}

.nd-3 {
    height: 55%;
    display: flex;
}

.title {
    padding: 1%;
    display: flex;
    justify-content: space-between;

}

.title span {
    font-weight: bold;
    font-size: 25px;
}

.title button {
    border-radius: 5px;
    color: rgb(1, 34, 93);
    /* font-weight: bold; */
    height: 30px;
    background-color: #fff;
    border: 1px solid;
    border-color: rgb(1, 34, 93);

}

.search {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 1%;
    justify-content: space-around;
    margin-top: 20px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.button_container button {
    margin-left: 10px;
    padding: 3px 4px;
}

.search input {
    width: 85%;
    height: 40px;
    display: flex;
}


.input_productName {
    border-color: gray;
    font-weight: 300;
    font-size: 15px;
}

.search button {
    background-color: white;
    border-color: gray;
    border-radius: 3px;
    border: 0.5px solid;
    color: gray;
    height: 40px;
}

.productname {
    font-weight: bold;
    width: 50%;
    margin-left: 2%;
}

.productIMG {
    width: 50%;
    font-weight: bold;
}

.inp input {
    width: 80%;
    height: 40px;
    border: 0.5px solid;
}

input {
    padding-left: 10px;

}

.inp {
    margin-top: 10px;

}

.sel {
    width: 50%;

}

select {
    height: 40px;
    border: 0.5px solid;
    border-radius: 5px;
    color: rgba(12, 85, 194, 0.833);
    border-color: gray;
    font-weight: bold;
    padding-left: 10px;

}

.des {
    width: 80%;
    height: 40%;
}

.des input {
    border: 1px solid #cdcdcd;
}

.fil {
    margin-top: 10px;
    margin-top: -0.5px;
}

.des {
    border: 0.5px solid;
    height: 30%;

}

.imgDetail {
    width: 30%;
    margin-right: 10px;
    border: 1px dashed;
    border-color: rgba(128, 128, 128, 0.238);
}

.imgDetail img {
    width: 100%;
    height: 100%;
}

.imgDouble {
    width: 35%;
}

.db1 {
    height: 48%;
    margin-bottom: 4%;

}

.db1 img {
    height: 100%;
    border: 1px dashed;
    border-color: rgba(128, 128, 128, 0.238);


}

.db2 img {
    height: 100%;
    border: 1px dashed;
    border-color: rgba(128, 128, 128, 0.238);


}

.db2 {
    height: 48%;
}

.imgDouble img {
    width: 100%;

}

.imgcontain {
    width: 90%;
    display: flex;
}

.addsize {
    width: 48%;
}

.prodate {
    width: 50%;
}

.productIMG btnadd {
    border: 0.5px solid;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
}

.productIMG button {
    border: 0.5px solid;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: #fff;
    border-color: rgb(1, 34, 93);
    margin-right: 10px;
    color: rgb(1, 34, 93);
    font-weight: bold;
}

.Adproduct {
    margin-left: 1%;
    color: rgb(1, 34, 93);

}

input {
    border-radius: 5px;
    border: 0.5px solid;
}

.container {
    display: flex;
    width: 80%;

}

.tieude {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.noidung-contain {
    width: 100%;
    position: relative;
}

.noidung {
    margin-left: 30px;
    width: 98%;
    right: 0;
    margin-bottom: 20px;
    background-color: #fff;
}

.add_pro_noidung {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: white;
    margin-left: 20px;
}

.title_add {
    width: 75%;
    margin-left: 1%;
    font-size: 13px;
    color: gray;
}

.span_overview {
    margin-left: 1%;
    color: gray;
}

.save_btn {
    background-color: rgb(1, 34, 93);
    color: white;
    font-weight: bold;
}

.save_container {
    display: flex;
    margin-top: 10%;
}

.set_width {
    width: 45%;
}

.input_date {
    width: 80%;
    height: 40px;
    font-weight: bold;
    color: rgba(12, 85, 194, 0.833);
    border-color: gray;
    border: 0.5px solid;
}

.product_date_container {
    font-weight: bold;
}

.addSize_selected {
    width: 80%;
    height: 40px;
}

.imgInfo {
    display: flex;
    margin-top: 2%;
}

.addSize_heading {
    font-weight: bold;
}

.select_brad {
    width: 80%;
}


.select_category {
    width: 90%;
}

.button_fill {
    width: 60px;
}

.input_search {
    padding-left: 10px;
    color: rgb(206, 205, 205);
    border: 0.5px solid;
    border-radius: 5px;
}

.height1 {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.492);
    width: 6%;
}


.height2 {
    height: 4.5px;
    background-color: rgb(1, 34, 93);
    width: 12%;
}

.height3 {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.388);
    width: 84%;
}

.height_flex {
    display: flex;
    width: 98%;
    margin: auto;
}

.input_desc {
    font-size: 14px;
    color: #686868;
    font-weight: 400;
}

.nd-2_container {
    position: relative;
}

.height2 {
    position: absolute;
    left: 40px;
}


.inp,
.fil {
    margin-top: 20px;
}

.button_save_container {
    display: flex;
    margin-top: 100px;
    margin-right: 60px;
}

button.btn_cancel {
    border: 1px solid #f13737;
    color: #f13737;
}

button.btnadd {
    background-color: #3572cc;
    color: #fff;
}

button.search_btn {
    background-color: #3572cc;
    color: #fff;
    padding: 0px 5px;
}

.img_sig,
.imgDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgDetail {
    height: 160px;
    width: 65%;
}

.db1,
.db2 {
    border: 1px dashed #cdcdcd;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_label {
    color: #707070;
}

.image_label_with_image {
    position: relative;
    left: 30px;
    top: 30%;
    color: #707070;
}

.image_sig {
    object-fit: cover;
}

.label_mini_image {
    font-size: 12px;
}

.label_mini_image_active_image {
    position: relative;
    left: 50px;
    z-index: 10;
}


.model_number,
.select_category,
.addSize_selected,
.select_brad,
.input_date,
.productname input {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 10px;

}

.add_item_btn {
    border: none;
    background-color: #fff;
    margin-left: 3px;
}

.add_item_btn--icon {
    font-size: 20px;
    color: rgb(22, 90, 207);
    cursor: pointer;

}

.add_hw_container {
    box-shadow: 0px 0px 5px #cdcdcd;
    width: 440px;
    margin-top: 10px;
    padding: 5px 10px 30px;
    border-radius: 5px;
}

.btn_save_container_item {
    margin-top: 40px;
    position: relative;
    left: 250px;
}

.add_item-detail {
    border: none;
    outline: none;
    padding: 3px 10px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
}

.insert_color_container--item {
    box-shadow: 0px 0px 5px #cdcdcd;
    width: 400px;
    margin-top: 10px;
    padding: 5px 10px 30px;
    border-radius: 5px;
}

.des {
    border: 1px solid #cdcdcd;
}

.btnadd_color {
    position: relative;
    right: 30px;
}

.add_color_selected {
    color: #fff;
}

.btn_add_hw {
    padding: 5px 40px;
}