<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dnPhone.css">
    <link rel="stylesheet" href="../admin/bootstrap-5.3.0-alpha3-examples/assets/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <form>
          <a href="../Dangnhap/Dangnhap.html"><img src="../img/back.png" alt="" class="previous"></a>
          <h1 class="h3 mb-3 fw-normal">Đăng nhập </h1>
    
          <div class="Sign-up-sdt">
            <p style="font-weight: 600;">Số điện thoại </p>
          <a href="../dnEmail/dnEmail.html">Đăng nhập với Email </a>
          </div>
          <div class="form-floating">
            <input type="tel" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nhập số điện thoại  </label>
            
          </div>
          <div class="enter-code"> 
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Nhập mã xác nhận </label>
             
            </div>
            <button class="send-code-btn">Gửi mã</button>
          </div>
          <br>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng nhập </button>
          <p class="divider"><span>Hoặc</span></p>
        
          <p class="sign-up-link">
            Bạn chưa có tài khoản? <a href="../Dangki/Dangki.html">Đăng ký </a>
          </p>
        </form>
      </main>
</body>
</html>