<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./DkEmail.css">
    <link rel="stylesheet" href="../admin/bootstrap-5.3.0-alpha3-examples/assets/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <form>
          <a href="../Dangki/Dangki.html"><img src="../img/previous.png" alt="" class="previous"></a>
          <h1 class="h3 mb-3 fw-normal">Đăng ký</h1>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nhập họ và tên </label>
          </div>
          <div class="Sign-up-sdt">
            <strong>Email</strong>
          <a href="../DangkiPhone/Dkphone.html">Đăng ký với SĐT</a>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nhập địa chỉ email  </label>
            
          </div>
          
          <div class="form-floating" >
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword"> Nhập mật khẩu </label>
            <small >Mật khẩu cần có ít nhất 8 kí tự</small>
          </div>
          <div class="enter-code">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Nhập mã xác nhận </label>
             
            </div>
            <button class="send-code-btn">Gửi mã</button>
          </div>
         
          
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lưu lại mật khẩu ?
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng ký</button>
          <p class="divider"><span>Hoặc</span></p>
        
          <p class="sign-up-link">
            Bạn đã có tài khoản? <a href="../Dangnhap/Dangnhap.html">Đăng nhập </a>
          </p>
        </form>
      </main>
</body>
</html>